<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de senha</title>
</head>
<body>
    <div class="recuperacao_container">
        <span>Recuperação de senha</span>
        <h1>Seu código de recuperação</h1>
    </div>
    <style>
        .recuperacao_container {
            place-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</body>
</html>